hr {
    background-color: var(--bs-gray-300) !important;
    opacity: 1 !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.todo:hover, .list:hover {
    cursor: pointer;
}