hr {
    background-color: var(--bs-gray-300) !important;
    opacity: 1 !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.todo:hover, .list:hover {
    cursor: pointer;
}

.placeholder {
    cursor: auto !important;
}

.dropdown-item.disabled, .dropdown-item:disabled {
    background-color: var(--bs-gray-100) !important;
    color: var(--bs-gray-400) !important;
}